.project-card{

    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--color-pallete-3);
    display: flex;
    min-height: 30rem;
    opacity: 0.4;
    padding: 5rem;
    transition: 0.5s;
}

.project-card:hover{

    opacity: 1;

}

.project-card h3{

    font-size: 4rem;
    font-weight: 200;

}

.project-card p{

    color: var(--color-pallete-4);
    line-height: 2rem;
    margin-top: 4rem;
    max-width: 50%;

}

.project-card a{

    all: unset;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    justify-content: center;
    opacity: 0.7;

}

.project-card a:hover{

    cursor: pointer;
    opacity: 1;

}

.project-card img{

    max-width: 15rem;
    min-width: 15rem;

}

.tags{

    display: flex;
    gap: 2rem;
    margin-top: 4rem;
    max-width: 26rem;

}

.tags span{

    animation: gradient-animation 3s infinite alternate;
    background-clip: text;
    background-size: 500%;
    color: transparent;
    font-size: 2rem;
}

.tags .js{


    background-image: var(--gradientJS);
    
}

.tags .css{


    background-image: var(--gradientCSS);
    
}

.tags .html{


    background-image: var(--gradientHTML);
    
}

.tags .node{


    background-image: var(--gradientNODE);
    
}

.tags .react{


    background-image: var(--gradientREACT);
    
}

.tags .bt{


    background-image: var(--gradientBT);
    
}