@keyframes gradient-animation{

    0%{

        background-position: right;

    }100%{

        background-position: left;
        

    }

}

@keyframes apear {
    0%{

        opacity: 0;
        transform: scale(1);

    }100%{

        opacity: 1;
        transform: scale(1.1);

    }
}

.business-card{

    animation: gradient-animation 3s infinite alternate, apear 1s forwards;
    background-image: var(--gradient);
    background-size: 400%;
    border-radius: 1.5rem;
    color: var(--color-pallete-3);
    display: flex;
    min-height: 35rem;
    min-width: 60rem;
    padding: 1rem;
}

.text-field{

    border-radius: 1.5rem;
    flex: 0.7;
    padding: 4rem;


}

.text-field h1{

    font-weight: 400;

}

.text-field .dashed{

    border-top: dashed var(--color-pallete-3) 0.1rem;
    margin-left: 5rem;
    max-width: 55%;

}

.text-field h2{

    font-size: 1.3rem;
    font-style: italic;
    font-weight: 400;
    margin-left: 7rem;

}

.infos{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;

}

.infos .field{

    align-items: center;
    display: flex;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 200;
    gap: 1rem;

}

.infos .field img{

    max-width: 2.7rem;

}

.image-field{


    align-items: flex-end;
    background: url('../../assets/perfil.jpg') center center no-repeat;
    border-radius: 1.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 100%);
    display: flex;
    flex: 1;
    justify-content: flex-end;
    opacity: 0.9;
    padding: 1rem;

}
.image-field button{

    all: unset;
    animation: gradient-animation 3s infinite alternate;
    background-image: var(--gradient);
    background-size: 300%;
    border-radius: 1.5rem;
    min-width: 2rem;
    opacity: 0.8;
    padding: 1.2rem;
    transition: 0.5s;

}

.image-field button:hover{

    cursor: pointer;
    opacity: 1;

}

.links{

    display: flex;
    gap: 2rem;
    margin-top: 3rem;

}

.links img{

    max-width: 5rem;
    opacity: 0.6;

}

.links img:hover{
    
    animation: apear 1s forwards;

}

