@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');

@keyframes gradient-animation{

  0%{

      background-position: right;

  }100%{

      background-position: left;
      

  }

}

@keyframes apear {
  0%{

      opacity: 0;
      transform: scale(1);

  }100%{

      opacity: 1;
      transform: scale(1.1);

  }
}

@keyframes grow {
  0%{

      transform: scale(1);

  }100%{

      transform: scale(1.1);

  }
}

:root{

  --color-pallete-1: #242938;
  --color-pallete-2: #506477;
  --color-pallete-3: #ADD7F3;
  --color-pallete-4: #26D4A1;

  --gradient: linear-gradient(

    65deg,
    #242938,
    #333f4b,
    #506477
    /* #68849e */

  );

  --gradientJS: linear-gradient(

    65deg,
    #fff,
    #EFD81D,
    #E8A81D
    

  );

  --gradientCSS: linear-gradient(

    65deg,
    #fff,
    #2862E9,
    #254BDD
    

  );
  --gradientHTML: linear-gradient(

    65deg,
    #fff,
    #DD4B25,
    #DD4B25
    

  );
  --gradientNODE: linear-gradient(

    65deg,
    #fff,
    #7AB53E,
    #078939
    

  );
  --gradientREACT: linear-gradient(

    65deg,
    #fff,
    #70D7F3,
    #4184F2
    

  );

  --gradientBT: linear-gradient(

    65deg,
    #fff,
    #563D7C,
    #491c81
    

  );
  font-size: 62.5%;

}

*{

  margin: 0;

}

.app{

  
  align-items: center;
  background-color: var(--color-pallete-1);
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  min-height: 100vh;

}